body{
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}
@media (min-width: 400px) { 
	img{
		max-height:250px;
	}
	.nav-item{
		text-align:center;
	}
}

@media (min-width: 576px) { 
	img{
		max-height:300px;
	}
	.nav-item{
		text-align:center;
	}
}
}

@media (min-width: 768px) { 
	img{
		max-height:500px;
	}
	.nav-item{
		text-align:center;
	}
}
}

@media (min-width: 992px) { 
	img{
		max-height:500px;
	}
}

@media (min-width: 1200px) { 
	img{
		max-height:500px;
	}
}
.gender{
	border: 1px solid red;
}
.jumbotron, .contact-clean{
	background-color: rgb(241,257,252);
}
.jumbotron{
	margin-bottom: 0px;
}
.nav-item{
	float:center;
	margin-right:20px;
}

.confirm{
	margin-top: 20px;
	
}
#score{
	display: none;
}
.data{
	margin:50px;
}